h1{
  font-family: papyrus;
  padding-left: 10px;
}
p{
  font-family: sans-serif;
  color: yellow;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
body{
  background-color:rgb(48, 49, 50);
}
header{
  align-self: left;
  background-color:rgb(60, 60, 60);
  color:yellow;
  border: 3px solid yellow;
  margin:0px;
  padding-left:10px;
  border-radius:10px;
  height: 10%;
  min-width:90%;
}
#navbar{
  font-size: 12pt;
  padding-right:10px;
  padding-bottom:12px;
}
#navbar a{
  color:yellow;
  padding: 15px;
}
#navbar a:hover{
  background-color:yellow;
  
  color:rgb(60, 60, 60);
}

#body{
  align-self: left;
  background-color:rgb(60, 60, 60);
  color:yellow;
  border: 3px solid yellow;
  margin-top:10px;
  padding-left:10px;
  border-radius:10px;
  height: 90%;
  min-width:90%;
}
#footer{
  background-color:rgb(48, 49, 50);
  font-size:10px;
  width: screen-width;
  padding-left: 10px;
}
